/* this is primary color  */


.sky-blue{
    color: #2E86C1;
}

/* SECONDARY COLOR  */

.emerald-green{
    color: #4CAF50;
}

/* Accent COlor  */

.amber{
    color: #ffc107;
}

.light-gray{
    color: #f4f4f4;
}

